@{
	Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/register-pages/path-style.css" />

<div class="path-main-container">
	<a class="reg hotel" asp-controller="Login" asp-action="Hotel">
		<p>Войти как</p>
		<p>Отель</p>
	</a>
	<a class="reg user" asp-controller="Login" asp-action="UserForm">
		<p>Войти как</p>
		<p>Посетитель</p>
	</a>
</div>
