@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/index-style.css" />

<div class="text-center">
    <div class="welcome-section">
        <p style="font-size: calc(6vw + 3vh);">Антемис</p>
        <p style="font-size: calc(1vw + 2vh);">Сервис по бронированию отелей</p>
        <div style="height: 200px"></div>
    </div>
</div>

