@{
	Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/register-pages/path-style.css"/>

<div class="path-main-container">
	<a class="reg hotel" asp-controller="Register" asp-action="HotelForm">
		<p>Регистрация</p>
		<p>Отеля</p>
	</a>
	<a class="reg user" asp-controller="Register" asp-action="InnForm">
		<p>Регистрация</p>
		<p>пользователя</p>
	</a>
</div>
